body{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.container{
    width: 100%;
    max-width:500px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #eeb0b0;
    box-shadow: 0 0 10px rgba(rgb(0, 0, 0), green, blue, alpha);
}

label, input{
    display: block;
    width: 100%;
    margin-bottom: 1rem;

}

button{
    background-color: rgba(13, 13, 80, 0.733);
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

button :hover{
    background-color: rgba(0, 0, 0, 0.733);
}